<nav id="header" class="navbar navbar-toggleable-md" role="navigation">
    <div class="container-fluid">
        <h1 ><%= title %></h1>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <!-- Reserved for Bootstrap 4 -->
            <!-- <span class="fas fa-fire"></span> -->
            <span class="glyphicon glyphicon-fire"></span>
            Castiel
        </a>
    </div>

    <!-- Reserved for Bootstrap 4 -->
    <!-- <ul class="nav navbar-right rightheader"> -->
    <ul class="nav navbar-nav navbar-right rightheader">
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/about">About</a></li>

        <!-- <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/archives">Archives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li> -->
    </ul>
</nav>