<nav id="header" class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <h1 ><%= title %></h1>

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-fire"></span>
            Castiel
        </a>
    </div>

    <ul class="nav navbar-nav navbar-right rightheader">
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/about">About</a></li>
    </ul>

</div>
</nav>